.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8f0ff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  /* padding: 20px 20px; */
  border-bottom: 1px solid #d1d1d1;
  justify-content: space-between;
}

/* Header 상단 영역 */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-name {
  font-size: 18px;
  color: #2a74b7;
}

.mypage-link {
  color: #2a74b7;
  gap: 20px;
  font-size: 18px;
  text-decoration: none;
  /* padding: 5px 15px; */
  /* //border-bottom: 2px solid transparent; */
}

.mypage-link:hover {
  color: #7ba719;
}

.nav {
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  gap: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  gap: 80px; /* 네비게이션 링크 사이 여백 */
  padding: 10px 0;
  background-color: #e8f0ff;
}

.nav-link {
  color: #2a74b7;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  /* padding: 5px 15px; */
  /* //border-bottom: 2px solid transparent; */
}

.nav-link:hover,
.nav-link.active:hover {
  color: #7ba719;
}

.nav-link.active {
  color: #7ba719;
  font-weight: 900;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #99c2ff;
  border-radius: 20px;
  width: 60%;
  padding: 5px 10px;
  background-color: white;
  position: relative;
}

.search-input {
  display: inline;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
  height: 35px;
  flex-shrink: 0;
  position: relative;
}

.user-section {
  display: flex;
  gap: 15px;
}

.icon {
  cursor: pointer;
  color: #007bff;
}

.logo {
  width: 110px;
  height: auto;
}
